{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mod/Fib Twitter/ChuckNorris Listy Thing{% endblock %}

{% block body %}
  <table>
    <tbody>
      {% for entry in list %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{ entry.source }}</td>
          <td>{{ entry.date is empty ? '' : entry.date|date('Y.m.d H:i') }}</td>
          <td>{{ entry.text }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}